In [37]:
# Import our libraries 

# Pandas and numpy for data wrangling
import pandas as pd
import numpy as np

# Seaborn / matplotlib for visualization 
import seaborn as sns
sns.set()
import matplotlib.pyplot as plt
%matplotlib inline

# Import the trees from sklearn
from sklearn import tree

# Helper function to split our data
from sklearn.model_selection import train_test_split

# Helper fuctions to evaluate our model.
from sklearn.metrics import accuracy_score, precision_score, recall_score, confusion_matrix, f1_score, roc_auc_score 

# Helper function for hyper-parameter turning.
from sklearn.model_selection import GridSearchCV

# Import our Decision Tree
from sklearn.tree import DecisionTreeClassifier 

# Import our Random Forest 
from sklearn.ensemble import RandomForestClassifier

# Library for visualizing our tree
# If you get an error, run 'conda install python-graphviz' in your terminal
import graphviz

In [38]:
df = pd.read_csv('Project Dataset/previous_application.csv')
df.head()

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,NAME_SELLER_INDUSTRY,CNT_PAYMENT,NAME_YIELD_GROUP,PRODUCT_COMBINATION,DAYS_FIRST_DRAWING,DAYS_FIRST_DUE,DAYS_LAST_DUE_1ST_VERSION,DAYS_LAST_DUE,DAYS_TERMINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,Connectivity,12.0,middle,POS mobile with interest,365243.0,-42.0,300.0,-42.0,-37.0,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,XNA,36.0,low_action,Cash X-Sell: low,365243.0,-134.0,916.0,365243.0,365243.0,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,XNA,12.0,high,Cash X-Sell: high,365243.0,-271.0,59.0,365243.0,365243.0,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,XNA,12.0,middle,Cash X-Sell: middle,365243.0,-482.0,-152.0,-182.0,-177.0,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,XNA,24.0,high,Cash Street: high,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
# check the shape of the dataset
df.shape

(1670214, 37)

In [40]:
# check for null
df.isnull().sum()

SK_ID_PREV                           0
SK_ID_CURR                           0
NAME_CONTRACT_TYPE                   0
AMT_ANNUITY                     372235
AMT_APPLICATION                      0
AMT_CREDIT                           1
AMT_DOWN_PAYMENT                895844
AMT_GOODS_PRICE                 385515
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
FLAG_LAST_APPL_PER_CONTRACT          0
NFLAG_LAST_APPL_IN_DAY               0
RATE_DOWN_PAYMENT               895844
RATE_INTEREST_PRIMARY          1664263
RATE_INTEREST_PRIVILEGED       1664263
NAME_CASH_LOAN_PURPOSE               0
NAME_CONTRACT_STATUS                 0
DAYS_DECISION                        0
NAME_PAYMENT_TYPE                    0
CODE_REJECT_REASON                   0
NAME_TYPE_SUITE                 820405
NAME_CLIENT_TYPE                     0
NAME_GOODS_CATEGORY                  0
NAME_PORTFOLIO                       0
NAME_PRODUCT_TYPE                    0
CHANNEL_TYPE                         0
SELLERPLACE_AREA                     0
NAME_SELLER_INDUSTRY                 0
CNT_PAYMENT                     372230
NAME_YIELD_GROUP                     0
PRODUCT_COMBINATION                346
DAYS_FIRST_DRAWING              673065
DAYS_FIRST_DUE                  673065
DAYS_LAST_DUE_1ST_VERSION       673065
DAYS_LAST_DUE                   673065
DAYS_TERMINATION                673065
NFLAG_INSURED_ON_APPROVAL       673065
dtype: int64

In [41]:
# check how many duplicated row in the dataset
df.duplicated().sum()

0

In [42]:
# drop the cancled loan application cuz it does not make any contribution to our reseach topic
# and mark Approved and Unused offers as approved since they got accepted
# and mark Refused loan as 0
df['NAME_CONTRACT_STATUS']=df['NAME_CONTRACT_STATUS'].replace('Approved', 1)
df['NAME_CONTRACT_STATUS']=df['NAME_CONTRACT_STATUS'].replace('Refused', 0)
df['NAME_CONTRACT_STATUS']=df['NAME_CONTRACT_STATUS'].replace('Unused offer', 1)
df.drop(df[df['NAME_CONTRACT_STATUS'] =='Canceled'].index, inplace = True)

In [43]:
#since we are not yet interested in the reject reason, drop it for now
df.drop('CODE_REJECT_REASON', axis=1, inplace=True)
# we are not interested in how approved loan is paid back now, drop it
df.drop('NAME_PAYMENT_TYPE', axis=1, inplace=True)

df.drop(['SELLERPLACE_AREA','NAME_SELLER_INDUSTRY','CNT_PAYMENT','DAYS_FIRST_DRAWING','DAYS_FIRST_DUE'
        ,'DAYS_LAST_DUE_1ST_VERSION','DAYS_LAST_DUE','DAYS_TERMINATION'], axis=1, inplace=True)

In [44]:
# check if the Canceled loan still exist
df['NAME_CONTRACT_STATUS'].value_counts()

1    1063217
0     290678
Name: NAME_CONTRACT_STATUS, dtype: int64

In [45]:
# check the shape of the dataset again, obviously, the canceled data is dropped
df.shape

(1353895, 27)

In [9]:
# convert text type data into numerical data
df = pd.get_dummies(df, columns=['NAME_CONTRACT_TYPE','WEEKDAY_APPR_PROCESS_START','FLAG_LAST_APPL_PER_CONTRACT',
                                 'NAME_CASH_LOAN_PURPOSE','NAME_TYPE_SUITE','NAME_CLIENT_TYPE',
                                'NAME_GOODS_CATEGORY','NAME_PORTFOLIO','NAME_PRODUCT_TYPE',
                                'CHANNEL_TYPE','NAME_YIELD_GROUP','PRODUCT_COMBINATION','NFLAG_INSURED_ON_APPROVAL'], drop_first=True)

In [46]:
df.isnull().sum()

SK_ID_PREV                           0
SK_ID_CURR                           0
NAME_CONTRACT_TYPE                   0
AMT_ANNUITY                      66430
AMT_APPLICATION                      0
AMT_CREDIT                           1
AMT_DOWN_PAYMENT                580168
AMT_GOODS_PRICE                  79945
WEEKDAY_APPR_PROCESS_START           0
HOUR_APPR_PROCESS_START              0
FLAG_LAST_APPL_PER_CONTRACT          0
NFLAG_LAST_APPL_IN_DAY               0
RATE_DOWN_PAYMENT               580168
RATE_INTEREST_PRIMARY          1347944
RATE_INTEREST_PRIVILEGED       1347944
NAME_CASH_LOAN_PURPOSE               0
NAME_CONTRACT_STATUS                 0
DAYS_DECISION                        0
NAME_TYPE_SUITE                 514066
NAME_CLIENT_TYPE                     0
NAME_GOODS_CATEGORY                  0
NAME_PORTFOLIO                       0
NAME_PRODUCT_TYPE                    0
CHANNEL_TYPE                         0
NAME_YIELD_GROUP                     0
PRODUCT_COMBINATION                 31
NFLAG_INSURED_ON_APPROVAL       356746
dtype: int64

In [48]:
df.head(20)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,DAYS_DECISION,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,NAME_YIELD_GROUP,PRODUCT_COMBINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.430,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,-73,NaN,Repeater,Mobile,POS,XNA,Country-wide,middle,POS mobile with interest,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,-164,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,low_action,Cash X-Sell: low,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,-301,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,high,Cash X-Sell: high,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,-512,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,middle,Cash X-Sell: middle,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,-781,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,high,Cash Street: high,NaN
5,1383531,199383,Cash loans,23703.930,315000.0,340573.5,NaN,315000.0,SATURDAY,8,...,-684,Family,Repeater,XNA,Cash,x-sell,Credit and cash offices,low_normal,Cash X-Sell: low,1.0
10,1715995,447712,Cash loans,11368.620,270000.0,335754.0,NaN,270000.0,FRIDAY,7,...,-735,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,low_normal,Cash X-Sell: low,1.0
11,2257824,161140,Cash loans,13832.775,211500.0,246397.5,NaN,211500.0,FRIDAY,10,...,-815,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,middle,Cash X-Sell: middle,1.0
12,2330894,258628,Cash loans,12165.210,148500.0,174361.5,NaN,148500.0,TUESDAY,15,...,-860,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,high,Cash X-Sell: high,1.0
13,1397919,321676,Consumer loans,7654.860,53779.5,57564.0,0.0,53779.5,SUNDAY,15,...,-408,Unaccompanied,New,Consumer Electronics,POS,XNA,Country-wide,low_action,POS household without interest,1.0
14,2273188,270658,Consumer loans,9644.220,26550.0,27252.0,0.0,26550.0,SATURDAY,10,...,-726,NaN,New,Construction Materials,POS,XNA,Stone,middle,POS household with interest,0.0
15,1232483,151612,Consumer loans,21307.455,126490.5,119853.0,12649.5,126490.5,TUESDAY,7,...,-699,Unaccompanied,New,Auto Accessories,POS,XNA,Regional / Local,low_normal,POS other with interest,0.0
16,2163253,154602,Consumer loans,4187.340,26955.0,27297.0,1350.0,26955.0,SATURDAY,12,...,-1473,Unaccompanied,Repeater,Photo / Cinema Equipment,POS,XNA,Stone,high,POS household with interest,0.0
17,1285768,142748,Revolving loans,9000.000,180000.0,180000.0,NaN,180000.0,FRIDAY,13,...,-336,Unaccompanied,Repeater,XNA,Cards,x-sell,AP+ (Cash loan),XNA,Card X-Sell,0.0
18,2393109,396305,Cash loans,10181.700,180000.0,180000.0,NaN,180000.0,THURSDAY,14,...,-700,Unaccompanied,Repeater,XNA,Cash,x-sell,AP+ (Cash loan),low_normal,Cash X-Sell: low,NaN
19,1173070,199178,Cash loans,4666.500,45000.0,49455.0,NaN,45000.0,SATURDAY,16,...,-584,NaN,Repeater,XNA,Cash,walk-in,AP+ (Cash loan),high,Cash Street: high,NaN
20,1506815,166490,Cash loans,25454.025,450000.0,491580.0,NaN,450000.0,MONDAY,6,...,-401,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,low_normal,Cash X-Sell: low,NaN
21,1182516,267782,Cash loans,20361.600,405000.0,451777.5,NaN,405000.0,SATURDAY,4,...,-686,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,low_normal,Cash X-Sell: low,1.0
22,1172842,302212,Cash loans,NaN,0.0,0.0,NaN,NaN,TUESDAY,9,...,-239,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,XNA,Cash,NaN
23,1172937,302212,Cash loans,39475.305,1129500.0,1277104.5,NaN,1129500.0,THURSDAY,5,...,-594,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,low_normal,Cash X-Sell: low,NaN

In [ ]:
# get the average annuity of approved applications and refused applications
average_approved_AMT_ANNUITY=(df[(df['NAME_CONTRACT_STATUS']==1)])['AMT_ANNUITY'].mean()
average_Refused_ANNUITY=(df[(df['NAME_CONTRACT_STATUS']==0)])['AMT_ANNUITY'].mean()
print("the average annuity of approved applications is ", average_approved_AMT_ANNUITY)
print("the average annuity of refused applications is ", average_Refused_ANNUITY)

In [ ]:
#it seems like we have to fill something into the null values
#some AMT_ANNUITY is empty, I will replace the the average AMT_ANNUITY based on its NAME_CONTRACT_STATUS

df['AMT_ANNUITY'] = np.where(((df['AMT_ANNUITY']=='nan') & (df['NAME_CONTRACT_STATUS'] == 1) ), average_approved_AMT_ANNUITY,df['AMT_ANNUITY'] )
df['AMT_ANNUITY'] = np.where(((df['AMT_ANNUITY']=='nan') & (df['NAME_CONTRACT_STATUS'] == 0) ), average_Refused_ANNUITY,df['AMT_ANNUITY'] )

In [64]:
df.head(50)

,SK_ID_PREV,SK_ID_CURR,NAME_CONTRACT_TYPE,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,WEEKDAY_APPR_PROCESS_START,HOUR_APPR_PROCESS_START,...,DAYS_DECISION,NAME_TYPE_SUITE,NAME_CLIENT_TYPE,NAME_GOODS_CATEGORY,NAME_PORTFOLIO,NAME_PRODUCT_TYPE,CHANNEL_TYPE,NAME_YIELD_GROUP,PRODUCT_COMBINATION,NFLAG_INSURED_ON_APPROVAL
0,2030495,271877,Consumer loans,1730.43,17145.0,17145.0,0.0,17145.0,SATURDAY,15,...,-73,NaN,Repeater,Mobile,POS,XNA,Country-wide,middle,POS mobile with interest,0.0
1,2802425,108129,Cash loans,25188.615,607500.0,679671.0,NaN,607500.0,THURSDAY,11,...,-164,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,low_action,Cash X-Sell: low,1.0
2,2523466,122040,Cash loans,15060.735,112500.0,136444.5,NaN,112500.0,TUESDAY,11,...,-301,"Spouse, partner",Repeater,XNA,Cash,x-sell,Credit and cash offices,high,Cash X-Sell: high,1.0
3,2819243,176158,Cash loans,47041.335,450000.0,470790.0,NaN,450000.0,MONDAY,7,...,-512,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,middle,Cash X-Sell: middle,1.0
4,1784265,202054,Cash loans,31924.395,337500.0,404055.0,NaN,337500.0,THURSDAY,9,...,-781,NaN,Repeater,XNA,Cash,walk-in,Credit and cash offices,high,Cash Street: high,NaN
5,1383531,199383,Cash loans,23703.93,315000.0,340573.5,NaN,315000.0,SATURDAY,8,...,-684,Family,Repeater,XNA,Cash,x-sell,Credit and cash offices,low_normal,Cash X-Sell: low,1.0
10,1715995,447712,Cash loans,11368.62,270000.0,335754.0,NaN,270000.0,FRIDAY,7,...,-735,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,low_normal,Cash X-Sell: low,1.0
11,2257824,161140,Cash loans,13832.775,211500.0,246397.5,NaN,211500.0,FRIDAY,10,...,-815,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,middle,Cash X-Sell: middle,1.0
12,2330894,258628,Cash loans,12165.21,148500.0,174361.5,NaN,148500.0,TUESDAY,15,...,-860,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,high,Cash X-Sell: high,1.0
13,1397919,321676,Consumer loans,7654.86,53779.5,57564.0,0.0,53779.5,SUNDAY,15,...,-408,Unaccompanied,New,Consumer Electronics,POS,XNA,Country-wide,low_action,POS household without interest,1.0
14,2273188,270658,Consumer loans,9644.22,26550.0,27252.0,0.0,26550.0,SATURDAY,10,...,-726,NaN,New,Construction Materials,POS,XNA,Stone,middle,POS household with interest,0.0
15,1232483,151612,Consumer loans,21307.455,126490.5,119853.0,12649.5,126490.5,TUESDAY,7,...,-699,Unaccompanied,New,Auto Accessories,POS,XNA,Regional / Local,low_normal,POS other with interest,0.0
16,2163253,154602,Consumer loans,4187.34,26955.0,27297.0,1350.0,26955.0,SATURDAY,12,...,-1473,Unaccompanied,Repeater,Photo / Cinema Equipment,POS,XNA,Stone,high,POS household with interest,0.0
17,1285768,142748,Revolving loans,9000.0,180000.0,180000.0,NaN,180000.0,FRIDAY,13,...,-336,Unaccompanied,Repeater,XNA,Cards,x-sell,AP+ (Cash loan),XNA,Card X-Sell,0.0
18,2393109,396305,Cash loans,10181.7,180000.0,180000.0,NaN,180000.0,THURSDAY,14,...,-700,Unaccompanied,Repeater,XNA,Cash,x-sell,AP+ (Cash loan),low_normal,Cash X-Sell: low,NaN
19,1173070,199178,Cash loans,4666.5,45000.0,49455.0,NaN,45000.0,SATURDAY,16,...,-584,NaN,Repeater,XNA,Cash,walk-in,AP+ (Cash loan),high,Cash Street: high,NaN
20,1506815,166490,Cash loans,25454.025,450000.0,491580.0,NaN,450000.0,MONDAY,6,...,-401,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,low_normal,Cash X-Sell: low,NaN
21,1182516,267782,Cash loans,20361.6,405000.0,451777.5,NaN,405000.0,SATURDAY,4,...,-686,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,low_normal,Cash X-Sell: low,1.0
22,1172842,302212,Cash loans,3000,0.0,0.0,NaN,NaN,TUESDAY,9,...,-239,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,XNA,Cash,NaN
23,1172937,302212,Cash loans,39475.305,1129500.0,1277104.5,NaN,1129500.0,THURSDAY,5,...,-594,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,low_normal,Cash X-Sell: low,NaN
25,1543131,275707,Cash loans,22619.52,229500.0,241920.0,NaN,229500.0,THURSDAY,8,...,-370,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,low_normal,Cash X-Sell: low,1.0
26,2536650,338725,Cash loans,16708.32,369000.0,369000.0,NaN,369000.0,WEDNESDAY,13,...,-1487,NaN,Repeater,XNA,Cash,x-sell,Country-wide,middle,Cash X-Sell: middle,0.0
27,1676258,433469,Cash loans,22242.825,247500.0,268083.0,0.0,247500.0,THURSDAY,14,...,-1883,NaN,Repeater,XNA,Cash,x-sell,Country-wide,high,Cash X-Sell: high,1.0
28,2075578,418383,Consumer loans,7656.705,74610.0,65610.0,9000.0,74610.0,MONDAY,14,...,-2702,Family,New,Mobile,POS,XNA,Stone,low_normal,POS mobile with interest,0.0
29,1583704,315664,Cash loans,3000,0.0,0.0,NaN,NaN,WEDNESDAY,15,...,-430,NaN,Repeater,XNA,XNA,XNA,Credit and cash offices,XNA,Cash,NaN
30,2138466,170289,Consumer loans,3286.485,32562.0,32562.0,0.0,32562.0,FRIDAY,12,...,-307,NaN,Refreshed,Photo / Cinema Equipment,POS,XNA,Country-wide,middle,POS mobile with interest,0.0
31,2191093,182450,Consumer loans,9789.255,100485.0,100485.0,0.0,100485.0,WEDNESDAY,9,...,-391,NaN,Refreshed,Computers,POS,XNA,Stone,low_normal,POS household with interest,0.0
34,1629736,255331,Revolving loans,10125.0,202500.0,202500.0,NaN,202500.0,SATURDAY,14,...,-284,Unaccompanied,Repeater,XNA,Cards,x-sell,Credit and cash offices,XNA,Card X-Sell,0.0
35,2027074,208000,Consumer loans,12065.535,56655.0,66411.0,0.0,56655.0,SATURDAY,7,...,-676,Unaccompanied,Repeater,Audio/Video,POS,XNA,Country-wide,middle,POS household with interest,0.0
36,2766278,178375,Consumer loans,7511.085,32490.0,38380.5,0.0,32490.0,MONDAY,5,...,-801,"Spouse, partner",Repeater,Consumer Electronics,POS,XNA,Country-wide,high,POS household with interest,NaN
37,1151694,161591,Consumer loans,39111.075,214380.0,209497.5,13500.0,214380.0,FRIDAY,12,...,-989,Family,Repeater,Audio/Video,POS,XNA,Country-wide,middle,POS household with interest,0.0
38,1692577,125157,Consumer loans,9946.485,99319.5,109809.0,0.0,99319.5,SATURDAY,9,...,-392,Unaccompanied,Repeater,Audio/Video,POS,XNA,Regional / Local,low_action,POS household without interest,1.0
39,2740958,281589,Consumer loans,6752.25,35955.0,33115.5,4500.0,35955.0,THURSDAY,9,...,-983,Unaccompanied,Refreshed,Mobile,POS,XNA,Country-wide,high,POS mobile with interest,0.0
40,2317570,258076,Consumer loans,4539.285,18360.0,21834.0,0.0,18360.0,WEDNESDAY,10,...,-795,Unaccompanied,Repeater,Mobile,POS,XNA,Country-wide,high,POS mobile with interest,0.0
41,1366380,247572,Consumer loans,5000,17950.5,17950.5,0.0,17950.5,MONDAY,19,...,-1141,NaN,Repeater,Mobile,XNA,XNA,Country-wide,XNA,POS mobile with interest,NaN
42,2319873,188414,Consumer loans,3560.715,71356.5,76410.0,7573.5,71356.5,FRIDAY,17,...,-2594,Unaccompanied,Repeater,Consumer Electronics,POS,XNA,Country-wide,low_action,POS household without interest,1.0
43,2057616,304455,Consumer loans,15542.73,129505.5,131112.0,9000.0,129505.5,WEDNESDAY,12,...,-406,NaN,New,Consumer Electronics,POS,XNA,Country-wide,middle,POS household with interest,0.0
44,2675386,118974,Consumer loans,6899.49,55831.5,60745.5,0.0,55831.5,SUNDAY,13,...,-302,Unaccompanied,New,Mobile,POS,XNA,Country-wide,low_normal,POS mobile without interest,1.0
45,2621158,281470,Revolving loans,14625.0,292500.0,292500.0,NaN,292500.0,FRIDAY,17,...,-231,Unaccompanied,Repeater,XNA,Cards,x-sell,Country-wide,XNA,Card X-Sell,NaN
46,2586290,447421,Consumer loans,10274.04,126544.5,101232.0,25312.5,126544.5,SATURDAY,15,...,-243,Unaccompanied,Repeater,Mobile,POS,XNA,Country-wide,middle,POS mobile with interest,0.0
47,1475738,235737,Cash loans,75897.63,2025000.0,2241513.0,NaN,2025000.0,THURSDAY,19,...,-524,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,low_normal,Cash X-Sell: low,NaN
49,1371540,200721,Revolving loans,11250.0,225000.0,225000.0,NaN,225000.0,FRIDAY,15,...,-847,NaN,Repeater,XNA,Cards,walk-in,Credit and cash offices,XNA,Card Street,0.0
51,2664403,163660,Cash loans,9804.285,67500.0,82611.0,NaN,67500.0,SATURDAY,10,...,-766,NaN,New,XNA,Cash,walk-in,Credit and cash offices,high,Cash Street: high,1.0
52,1912041,253391,Cash loans,5294.43,45000.0,47970.0,NaN,45000.0,SUNDAY,17,...,-774,Unaccompanied,Refreshed,XNA,Cash,x-sell,Regional / Local,high,Cash X-Sell: high,NaN
53,2609003,371440,Consumer loans,11688.255,93415.5,101637.0,0.0,93415.5,FRIDAY,10,...,-598,Unaccompanied,New,Computers,POS,XNA,Regional / Local,middle,POS household with interest,0.0
54,1399859,197343,Consumer loans,4818.78,106398.0,106398.0,0.0,106398.0,SATURDAY,14,...,-409,NaN,Repeater,Computers,POS,XNA,Country-wide,low_action,POS household without interest,NaN
55,2741581,383645,Cash loans,47407.5,450000.0,450000.0,NaN,450000.0,MONDAY,13,...,-557,NaN,Repeater,XNA,Cash,x-sell,Credit and cash offices,middle,Cash X-Sell: middle,0.0
56,2563201,290976,Cash loans,49299.435,450000.0,504711.0,NaN,450000.0,THURSDAY,15,...,-1042,Unaccompanied,Repeater,XNA,Cash,x-sell,Credit and cash offices,low_normal,Cash X-Sell: low,1.0
58,1760006,283527,Cash loans,14730.66,72000.0,72000.0,NaN,72000.0,WEDNESDAY,15,...,-183,Unaccompanied,Repeater,XNA,Cash,x-sell,Contact center,high,Cash X-Sell: high,0.0
59,2076528,431383,Consumer loans,3725.505,26370.0,29983.5,2637.0,26370.0,SATURDAY,16,...,-1773,Unaccompanied,New,Mobile,POS,XNA,Country-wide,high,POS mobile with interest,0.0